/* Don't change the existing CSS. */
.white-text {
  color: white;
}
#outer-box {
  border: 10px solid purple;
  background-color: blue;
}
.inner-box{
padding: 10px;
background-color: red;
}
.box{
  padding: 10px;
  
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}